@font-face {
  font-family: "Merriweather";
  src: url("../fonts/Merriweather/Merriweather-Regular.ttf");
}

@font-face {
  font-family: "Merriweather";
  font-weight: 700;
  src: url("../fonts/Merriweather/Merriweather-Bold.ttf");
}

@font-face {
  font-family: "Lato";
  src: url("../fonts/Lato/Lato-Regular.ttf");
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Merriweather";
}

.navbar__top {
  margin-right: 0.875rem;
  margin-top: 1.6875rem;
}

.navbar__top ul {
  text-align: right;
}

.navbar__top ul li {
  display: inline-block;
  font-family: "Lato";
  font-size: 19px;
  list-style: none;
  margin-bottom: 6.375rem;
  padding-right: 18px;
}

.navbar__top a {
  color: #000;
  text-decoration: none;
}

.image__right {
  text-align: right;
}

.section__top {
  background-image: url("../img/illustration1.gif");
  background-position: right;
  background-repeat: no-repeat;
  background-size: contain;
  display: inline-block;
  height: 31.4375rem;
  margin-bottom: 5.9375rem;
  margin-right: 10rem;
  padding-top: 102px;
  text-align: left;
  width: 71.875rem;
}

.information__headline__left {
  font-size: 3rem;
  font-weight: 700;
  margin-bottom: 1.25rem;
  width: 31.25rem;
}

.information__text__left {
  font-size: 1.2rem;
  line-height: 2.375rem;
  margin-bottom: 2rem;
  width: 31.25rem;
}

.buttons__top a:nth-of-type(1) {
  background-color: #000;
  border: solid black;
  border-radius: 12px;
  border-width: 1.25rem;
  color: #fff;
  font-size: 1.2rem;
  margin-right: 0.9375rem;
  text-decoration: none;
}

.buttons__top a:nth-of-type(2) {
  border-radius: 12px;
  border-width: 1px;
  box-shadow: 0px 0px 2px 1px rgba(0, 0, 0, 0.2);
  color: #000;
  font-size: 1.2rem;
  padding: 20px;
  text-decoration: none;
}

.section__mid {
  background-image: url("../img/illustration2.png");
  background-position: left;
  background-repeat: no-repeat;
  background-size: contain;
  display: inline-block;
  height: 31.4375rem;
  margin-bottom: 95px;
  margin-left: 9rem;
  max-width: 81rem;
  padding-top: 95px;
  text-align: right;
}

.information__headline__right {
  font-size: 3rem;
  font-weight: 700;
  margin-bottom: 1.2331rem;
  margin-left: 36rem;
  text-align: left;
  width: 31.25rem;
}

.information__text__right {
  font-size: 1.2rem;
  line-height: 2.375rem;
  margin-left: 36rem;
  text-align: left;
  width: 31.25rem;
}

.section__bottom {
  background-image: url("../img/illustration3.png");
  background-position: right;
  background-repeat: no-repeat;
  background-size: contain;
  display: inline-block;
  height: 31.4375rem;
  margin-bottom: 5.9375rem;
  margin-right: 10rem;
  padding-top: 6.375rem;
  text-align: left;
  width: 71.875rem;
}

.images__container__center {
  margin-left: auto;
  margin-right: auto;
  width: 1400px;
}

.information__headline,
.information__text {
  margin: 0 auto;
  max-width: 53.125rem;
  text-align: center;
}

.information__headline {
  font-size: 3rem;
  font-weight: 700;
  line-height: 3.75rem;
  margin-bottom: 1.1875rem;
}

.information__text {
  font-size: 1.2rem;
  line-height: 2.5rem;
  margin-bottom: 2.6875rem;
}

.image--container__row1 {
  background: url("../img/illustration4.png");
  background-size: cover;
  display: inline-block;
  height: 19.0625rem;
  margin-bottom: 8.5rem;
  margin-left: 6.5rem;
  width: 22.5rem;
}

.image--container__row2 {
  background: url("../img/illustration5.png");
  background-size: cover;
  display: inline-block;
  height: 19.0625rem;
  margin: 0 4.6875rem;
  margin-bottom: 8.5rem;
  text-align: center;
  width: 22.5rem;
}

.image--container__row3 {
  background: url("../img/illustration6.png");
  background-size: cover;
  display: inline-block;
  height: 19.0625rem;
  margin-bottom: 8.5rem;
  width: 22.5rem;
}

section > .images__grid {
  margin: 0 auto;
  max-width: 46.875rem;
  text-align: center;
}

.images__grid p:nth-of-type(1) {
  margin-bottom: 2.25rem;
}

.container--images__grid1 {
  background: url("../img/illustration7.jpg");
  background-size: cover;
  display: inline-block;
  height: 20.25rem;
  margin-bottom: 3.875rem;
  margin-left: 7.0625rem;
  width: 36rem;
}

.container--images__grid2 {
  background: url("../img/illustration8.jpg");
  background-size: cover;
  display: inline-block;
  height: 20.25rem;
  margin-bottom: 3.875rem;
  margin-left: 3.8125rem;
  width: 36rem;
}

.container--images__grid3 {
  background: url("../img/illustration9.jpg");
  background-size: cover;
  display: inline-block;
  height: 20.25rem;
  margin-bottom: 3.875rem;
  margin-left: 7.0625rem;
  width: 36rem;
}

.container--images__grid4 {
  background: url("../img/illustration10.jpg");
  background-size: cover;
  display: inline-block;
  height: 20.25rem;
  margin-bottom: 3.875rem;
  margin-left: 3.8125rem;
  width: 36rem;
}

.container--images__grid5 {
  background: url("../img/illustration11.jpg");
  background-size: cover;
  display: inline-block;
  height: 20.25rem;
  margin-bottom: 8rem;
  margin-left: 7.0625rem;
  width: 36rem;
}

.container--images__grid6 {
  background: url("../img/illustration12.jpg");
  background-size: cover;
  display: inline-block;
  height: 20.25rem;
  margin-bottom: 8rem;
  margin-left: 3.8125rem;
  width: 36rem;
}

.hover:hover {
  box-shadow: 0 0 10px darkgray;
}

.membership__infotext {
  margin: 0 auto;
  text-align: center;
  width: 34.6875rem;
}

.membership__container {
  background-color: #55acee1a;
  height: 35.6875rem;
  margin-bottom: 3.9375rem;
  margin-left: auto;
  margin-right: auto;
  margin-top: 4.4375rem;
  width: 22.5rem;
}

.membership__container > p:nth-child(1) {
  font-size: 1.5rem;
  font-weight: 700;
  margin-bottom: 2.75rem;
  padding-top: 3.9375rem;
}

.membership__container p:nth-of-type(2) {
  font-size: 5rem;
  font-weight: 700;
  margin-bottom: 2.75rem;
}

.membership__container ul > p {
  color: #7e7e7e;
  font-size: 1rem;
  font-weight: 700;
  margin-bottom: 0.75rem;
}

.membership__container li {
  list-style: none;
}

.membership__container li a {
  color: #000;
  font-size: 1rem;
  line-height: 1.25rem;
  text-decoration: none;
}

.membership__container > div {
  background-color: #55acee;
  border-radius: 10px;
  display: inline-block;
  height: 3.125rem;
  margin-left: auto;
  margin-right: auto;
  margin-top: 0.99rem;
  padding-top: 0.875rem;
  width: 15rem;
}

.button__membership {
  border-radius: 12px;
  border-width: 1.25rem;
  color: #fff;
  font-size: 1rem;
  margin-top: 3rem;
  text-decoration: none;
  text-decoration: none;
}

footer {
  margin-bottom: 0.875rem;
  text-align: center;
}

footer h3 {
  font-size: 3rem;
  font-weight: 700;
  line-height: 3.75rem;
  margin-bottom: 1.1875rem;
}

footer p:nth-of-type(1) {
  color: #7e7e7e;
  font-size: 1.1875rem;
  margin-bottom: 0.875rem;
}

footer p:nth-of-type(2) {
  font-size: 1.1875rem;
  margin-bottom: 0.875rem;
}

footer p:nth-of-type(3) {
  color: #7e7e7e;
  font-size: 19.2px;
  margin-bottom: 0.875rem;
}

footer a {
  font-size: 1.1875rem;
  text-decoration: none;
}

footer a:nth-of-type(1) {
  color: #000000;
}

footer a:nth-of-type(2) {
  color: #fcaf45;
}

footer a:nth-of-type(3) {
  color: #55acee;
}

footer a:nth-of-type(4) {
  color: #c4302b;
}
